# Exercise 2-2: Write your own code for the Mortality Notebook

In [1]:
import pandas as pd

## Get the long and wide DataFrames

In [6]:
mortality_data = pd.read_pickle('mortality_data.pkl')

In [7]:
mortality_wide = pd.read_pickle('mortality_wide.pkl')

## Work with the long DataFrame

In [8]:
mortality_data.head()

   Year     AgeGroup  DeathRate  MeanCentered
0  1900  01-04 Years     1983.8    1790.87584
1  1901  01-04 Years     1695.0    1502.07584
2  1902  01-04 Years     1655.7    1462.77584
3  1903  01-04 Years     1542.1    1349.17584
4  1904  01-04 Years     1591.5    1398.57584

In [ ]:
mortality_data.columns = mortality_data.columns.str.replace('DeathRate','Deaths/100K')
mortality_data.head()

In [ ]:
mortality_data[['Year','MeanCentered']].head()

In [ ]:
mortality_data.query('Year >= 1915 and Year <= 1920').tail(6)

In [ ]:
mortality_data.query('AgeGroup == "01-04 Years"')[['Year','Deaths/100K']].head()

In [ ]:
with pd.option_context(
    'display.max_rows', 6,
    'display.max_columns', None):
    display(mortality_data.sort_values('Deaths/100K', ascending=False))

In [ ]:
mortality_data['Deaths/100K'].median()

In [ ]:
mortality_data.groupby('Year')[['Deaths/100K']].sum()

## Work with the wide DataFrame

In [9]:
mortality_wide.head()

   Year  01-04 Years  05-09 Years  10-14 Years  15-19 Years
0  1900       1983.8        466.1        298.3        484.8
1  1901       1695.0        427.6        273.6        454.4
2  1902       1655.7        403.3        252.5        421.5
3  1903       1542.1        414.7        268.2        434.1
4  1904       1591.5        425.0        305.2        471.4

In [ ]:
mortality_wide.index

In [ ]:
mortality_wide.describe().T

In [ ]:
mortality_wide[['Year', '01-04 Years']]

In [ ]:
mortality_wide.query('Year >= 1915 and Year <= 1920').head(6)

In [ ]:
mortality_wide.query('Year >= 1915 and Year <= 1920')[['Year','01-04 Years']].head(6)

In [ ]:
mortality_data.groupby('Year')[["Deaths/100K","MeanCentered"]].agg(['mean','median','sum'])

In [ ]:
mortality_wide['TotalDeaths'] = \
    mortality_wide['01-04 Years'] + \
    mortality_wide['05-09 Years'] + \
    mortality_wide['10-14 Years'] + \
    mortality_wide['15-19 Years']
mortality_wide

In [ ]:
mortality_wide.groupby('Year').TotalDeaths.sum().plot()